# dependencies
node_modules/

# production/build
dist/
build/

# local env files
.env
.env.local
.env.*.local

# logs
*.log
logs/

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDE/System
.DS_Store
.idea/
.vscode/
